.navbar {
    background-color: #1f345c;
    display: flex;
    justify-content: center;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.navbar-menu-main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.navbar-item {
    text-decoration: none;
    color: #98c3dd;
    font-size: 16px;
}

.logo {
    height: 50px;
}

.linkedin,
.github {
    height: 35px;
    margin-left: 10px;
}
