.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 92vh;
}

.posts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    gap: 20px;
}

.post-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.post {
    background-color: #5A5A5A;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    color: white;
    width: 80%;
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: auto;
}

.post a {
    color: white;
    text-decoration: underline;
}

.icon {
    display: none;
}

.icon.is-small {
    font-size: 1rem;
}

.icon.is-right {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.icon i {
    color: green;
}

.help.is-success {
    color: green;
}

.help.is-success {
    color: green;
}


.help.is-danger {
    color: red;
}

.input.is-danger {
    border-color: red;
    box-shadow: 0 0 0 0.125em rgba(255, 0, 0, 0.25);
}

.textarea.is-danger {
    border-color: red;
    box-shadow: 0 0 0 0.125em rgba(255, 0, 0, 0.25);
}

.icon.is-right i {
    color: green;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.button {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-family: "Roboto Light", sans-serif;
}

.create-button,
.save-button,
.edit-button,
.cancel-button,
.delete-button {
    border: none;
    background-color: white;
    color: #1f345c;
    font-size: 14px;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 30px;
    text-decoration: none;
    flex-shrink: 0;
}

.create-button:hover,
.save-button:hover,
.edit-button:hover,
.cancel-button:hover,
.delete-button:hover {
    background-color: #66c4ff;
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos específicos para cada botão */
.save-button {
    background-color: #91d582;
}

.edit-button {
    background-color: #ffcc80;
}

.cancel-button,
.delete-button {
    background-color: #f8a1a1;
}

/* Hover específico para cada botão */
.save-button:hover {
    background-color: #46ba5d;
}

.edit-button:hover {
    background-color: #ff9900;
}

.cancel-button:hover,
.delete-button:hover {
    background-color: #fc4848;
}

.button-container button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}
